

#root {
  width: "100%";
  margin: 0 auto;
 
  text-align: center;
  background-image: url('./assets/images/dashboardBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 1%;
}

body:

/* Ocultar scrollbar para Chrome, Safari y Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Ocultar scrollbar para IE, Edge y Firefox */
