

#root {
  width: "100%";
  margin: 0 auto;
 
  text-align: center;

}

body:

/* Ocultar scrollbar para Chrome, Safari y Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Ocultar scrollbar para IE, Edge y Firefox */
